/* -----------------------------
   Simple CSS Reset
----------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.hero-section,
.display-content-section {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

.display-content-section {
  margin-top: 50px;
}

.objective-section,
.profile-section,
.technical-skills-section {
  flex-direction: column;
}

body {
  background-color: #f5f5f7;
}
/*      HERO    */

.profile-image {
  width: 260px;
  z-index: 5;
  position: relative;
}

.hero-wrapper {
  background: #171623;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 160px;
}

.profile-background-container {
  flex: 1;
  position: relative;
}

.hero-intro-text {
  flex: 3;
  /* background: #00f1ff; */
}

.hero-contact-container {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  font-size: 30px;
  color: #3a7cff;
}

.h1-wrapper {
  position: relative;
  width: max-content;
}

h1 {
  font-size: 40px;
  width: max-content;
}

h1 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

p,
h3,
span,
h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2 {
  color: #9b6bff;
  font-size: 44px;
  font-weight: bold;
}

p {
  color: #171623;
  font-size: 20px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

main {
  background-color: #f5f5f7;
}

.hero-contact-container {
  flex: 1;
}

.hero-section p {
  color: #fff;
}

.intro-buttons-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  gap: 10px;
  border-radius: 15px;
}

.hero-intro-text span {
  position: absolute;
  top: -30px;
  border: 1px solid #2ee6a8;
  right: 0;
  border-radius: 15px;
  padding: 5px 15px;
}

/*           CONTENT INTRO        */
.profile-section,
.objective-section,
.technical-skills-section,
.cv-section,
.projects-section {
  display: none;
}

.intro-button {
  padding: 9px 14px;
  font-size: 38px;
  background: #3a7cff;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border-radius: 15px;
  position: relative;
}

.intro-button:hover::before {
  top: -30px;
  opacity: 1;
}

.intro-button.active:before {
  opacity: 1;
  top: -30px;
}

.intro-button:before {
  content: "Profile";
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  font-size: 18px;
  top: 0;
  opacity: 0;
  width: 100%;
  left: 0;
  margin: 0 auto;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#profile-button:before {
  content: "Profile";
}

#objective-button:before {
  content: "Objective";
}

#technical-skills-button:before {
  content: "Skills";
}

#cv-button:before {
  content: "Resume";
}

#projects-button:before {
  content: "Projects";
}

.intro-button:hover {
  transform: scale(1.1);
  background-color: #9b6bff;
}

.intro-button.active {
  background-color: #9b6bff;
  transform: scale(1.1);
}

.profile-section.active,
.objective-section.active,
.technical-skills-section.active,
.cv-section.active,
.projects-section.active {
  display: flex;
}

.intro-section {
  margin-bottom: 100px;
  margin-top: 100px;
}

.intro-text {
  margin-bottom: 50px;
}

.projects-section {
  flex-direction: column;
}

.content-split-section {
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: #171623;
  border-radius: 15px;
}

.split-left {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content-full-width {
  margin-bottom: 50px;
}

.split-right {
  flex: 2;
}

.split-right img {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.split-left p {
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
}

.content-split-section h3 {
  color: #2ee6a8;
}

.content-split-section a {
  color: #3a7cff;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
}

.content-split-section a:hover {
  color: #9b6bff;
}

/* SKILLS SECTION */

.skills-row {
  display: flex;
  flex: 1;
  gap: 10px;
}

.skills-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 70px 20px 20px 20px;
  border-radius: 15px;
}

.skills-container span {
  position: absolute;
  top: 0;
  font-size: 20px;

  width: 100%;
  background-color: #171623;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.skills-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.skills-images {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.skills-images img {
  width: 100px;
}

#work-list,
#education-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

/*           CV             */
.cv-title {
  font-size: 26px;
}

.cv-section {
  flex-direction: column;
}

.cv-work-item,
.cv-education-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  border: 1px solid grey;
  margin-bottom: 20px;
  position: relative;
  min-height: 220px;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
  background-color: #171623;
  color: #fff;
}

.cv-work-item:hover,
.cv-education-item:hover {
  /*background-color: #00f1ff;*/
}

.cv-image {
  width: 50px;
  background-color: #fff;
}

.cv-company-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cv-meta-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #2ee6a8;
  margin-top: auto;
}

.cv-toggle-content {
  max-height: 500px; /* Set this higher than your content will ever be */
  overflow: hidden;
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;
}

.cv-toggle-content.hidden {
  max-height: 0;
  opacity: 0;
}

.cv-toggle-button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 0;
}

/* PROJECTS */

.project-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.project-item {
  flex: 1;
  overflow: hidden;
  min-height: 500px;
  border-radius: 15px;
}

.project-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2ee6a8;
}

.project-info-wrapper {
  padding: 20px;
  background-color: #171623;
  color: #fff;
}

.project-image-wrapper {
  overflow: hidden;
}

.project-description {
  padding: 10px 0;
  min-height: 100px;
  color: #fff;
}
.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.project-item:hover .project-image {
  transform: scale(1.1);
}

/* -----------------------------
   Responsive Media Queries
----------------------------- */

/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Your CSS here */
}

/* Medium devices (landscape phones/tablets, 576px–767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Your CSS here */
}

/* Large devices (tablets, 768px–991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Your CSS here */
}

/* Extra large devices (desktops, 992px–1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your CSS here */
}

/* XXL devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Your CSS here */
}
